.home-page {
  display: flex;
  margin-top: 10px;
  padding: 10px;
}
.home-page-filter {
  width: 20%;
  background-color: gray;
  height: 100vh;
  margin-right: 5px;
  border-radius: 3px;
}
.home-page-cart {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.loading-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
